*{
    margin: 0;
    padding: 0;
}
html, body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#rex{
    width: 200px;
}
#flecha{
    width: 20%;
    padding: 0 20%;
}
#center{
    flex: 1;
    text-align: center;
}
body{
    background-color: #262626;
}
header{
    background-color: rgb(0, 29, 192);
    text-align: center;
    padding: 10px 0;
}
img{
    max-width: 100%;
}
.tabla{
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
}
.tabla p{
    background: #006269;
    padding: 10px 0;
}
.tabla table{
    background-color: #02727a;
}
.tabla table{
    width: 100%;
}
.texto #roar{
    background: #006269;
}
.texto p{
    background-color: #02727a;
    padding: 0 15px;
}
.texto div{
    text-align: center;
}
.texto img{
    width: 20%;
}
footer{
    background-color: rgb(0, 34, 66);
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    flex: 1;
    padding: 10px 0;
}